@import url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css);

.secondSlide{
    height: 100%;
    position: relative;
}
@media (orientation: landscape){
    .secondSlide_centerBlock{
        height: 100%;
        width: calc(100vh * 1.33);
        margin: auto;
    }
    .secondSlide_contentBlock{
        font-size: 7vh;
    }

}
@media (orientation: portrait){
    .secondSlide{
        display: flex;
        align-items: center;
    }
    .secondSlide_centerBlock{
        width: 100%;
        height: calc(100vw * 0.75);
    }
    .secondSlide_contentBlock {
        font-size: 6vw;
    }
}

.secondSlide_centerBlock{
    display: grid;
    grid-template-rows: 8fr 1fr;
    background-image: url('../assets/ref1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.secondSlide_contentBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'GothamPro Light';
    text-align: center;
}
